/ignoring.txt
/offline/cable-mpi-r2677-gswp3
/offline/cable-mpi-r2706-stempv
/offline/cable-r2661-gswp3
/offline/cable-mpi-r2686-elevwtd
/offline/cable-r2681-gswp3
/offline/cable-mpi-r2677-gswp3-linear
/offline/cable-mpi-r2686-elv-wtd-frozenlimit-fsat
/offline/cable-mpi-r2686-elv-wtd-Newfrozenlimit-fsat
/offline/cable-mpi-r2686-elevtest
/offline/cable-mpi-r2661-gswp3
/offline/cable-mpi-r2680-gswp3
/offline/cable-mpi-r2681-gswp3
/offline/cable-mpi-r2691
/offline/cable-mpi-r2692
/offline/cable-mpi-r2693
/offline/cable-mpi-r2694
/offline/cable-mpi.22.01.15
/offline/.tmp
/offline/cable-mpi-r2696
/offline/cable-mpi-r2697
/offline/cable-mpi-r2706-SFClin
/offline/.mpitmp
/offline/cable-mpi-r2686-elv-wtd-frozenlimit-fsat-pressure-trans
/offline/build_script.sh
/offline/readme
/offline/cable-mpi-r2686-elv-wtd-frozenlimit
/offline/cable-mpi-r2701
/offline/cable-mpi-r2702
/offline/load_this
/offline/cable-mpi-r2706-macro
/offline/cable-mpi-r2705
/offline/cable-mpi-r2690-nowilt-fldcap
/offline/cable-mpi-r2686-elv-wtd-Newfrozenlimit-fsat-qsub
/offline/cable-mpi-r2673-gswp3
/offline/cable-*
/offline/.mpitmp
