################################################################################
# Set architecture specific variables
################################################################################
build.prop{fc} = pgf90
$fpp_defs = $fpp_defs COMPILER_PGF

$fflags = $fflags -g -Mprof=func -C -traceback 
$ldflags = $ldflags -g -Mprof=func -C -traceback 
